<!DOCTYPE html>
<html lang="en">
<head>
  <title>Apartado 1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Bienvenido al Proyecto Final de</h1>
  <h1>Sistemas de Informacion</h1>
  <h2/>Apartado 1</h2>
  <p>Pagina 1 - Dato, Información y Sistemas de Información</p>
  <p>Pagina 2 - Información Útil</p>
  <p>Pagina 3 - Componentes Basicos de unSistema de Información</p>
<p><a href="https://github.com/Branndon911/ICO_SCRUM_ARCADIA">GitHub</a></p>
<p><a href="https://trello.com/b/Ob0WuZTX/icoscrumarcadia2807">Trello</a></p>
</div>


<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="/ConceptoDato">1</a></li>
    <li class="page-item"><a class="page-link" href="/InformacionUtil">2</a></li>
    <li class="page-item"><a class="page-link" href="/Componentes">3</a></li>
  </ul>
</nav>


</body>
</html>
