<!DOCTYPE html>
<html lang="en">
<head>
  <title>Concepto Dato</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h2>Dato</h2>
  <p>- Derivado del latin “datum” cuyo significado literal es “hecho”.</p>
  <p>- Un dato no dice nada por si solo, aislado en carece de valor o relevancia.</p>
  <p>- Los datos son los insumos para generar información.</p>
  <h2>Información</h2>
  <p>Se produce información cuando un conjunto de datos son procesados por un sistema. </p>
  <p>La información es un conjunto de datos acerca de algún suceso, hecho, fenómeno o situación, que organizados en un contexto determinado tienen su significado, cuyo propósito puede ser el de reducir la incertidumbre o incrementar el conocimiento acerca de algo.</p>
  <h2>Sistema de Información</h2>
  <p>“como un conjunto de componentes interrelacionados que recolectan (o recuperan), procesan, almacenan y distribuyen información para apoyar los procesos de toma de decisiones y de control en una organización.”</p>
</div>


<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="/ConceptoDato">1</a></li>
    <li class="page-item"><a class="page-link" href="/InformacionUtil">2</a></li>
    <li class="page-item"><a class="page-link" href="/Componentes">3</a></li>
  </ul>
</nav>


</body>
</html>
