<html>
<head>
<title>Ernesto</title>
</head>
<body>
<img src="https://github.com/Branndon911/ICO_SCRUM_ARCADIA/blob/master/apartado(4)/pp.jpg?raw=true.jpg">
<p> Nombre: Cruz Reyes Edgar Ernesto </p>
<p> Num. Cuenta:313</p>
<p> Correo:edgarernestocruzreyes@gmail.com </p>
<p> Semestre: 8 </p>
</body>
</html>
